body {
    background-image: url(../Images/wood.jpg);
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px
}


/* Set gray background color and 100% height */


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: 500px;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

h1,
h3,
p {
    color: white;
}

.savedReminders {
    color: white;
}

ul {
    list-style-type: none;
}